// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #EAFEFF;
}
h1{
  font-family: Raleway;
  margin: auto;
}
.keyboard{
  margin: auto;
  background-color: #00C4BD;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  height: 230px;
  width: 600px;
  box-shadow: 3px;
}
.left-speaker{
  // position: absolute;
  // background-image: url(http://www.freegreatdesign.com/files/images/6/2729-sony-stereo-speaker-icon-png-1.jpg);
  // height: 200px;
  // width: 200px;
  // border-radius: 50%;
  // // background-color: gray;
  // background-image: url("speaker1.jpg");
  // box-shadow: inset 0 0 5px black;
}
.control-panel{

}
.organ{
  position: absolute;
  margin: auto;
  left: 50px;
  top: 91px;
  width: 500px;
  text-align: center;
}
.key {
  font-family: Raleway;
  background-color: white;
  width: 40px;
  height: 140px;
  border: 1px solid black;
  margin: auto;
  float:left;
  box-shadow: 2px 2px 2px #000;
  text-align: center;
}

div.sharp {
  position: relative;
  margin-left: -17px;
  margin-right: -17px;
  color: white;
  background-color: black;
  width: 30px;
  height: 80px;
  box-shadow: none;
  line-height: 120px;
  z-index: 1;
  box-shadow: inset 0 0 5px white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}
div.sharp.pressed{
  margin-top: 2px;
  background-color: #00FFCC;
  box-shadow: inset 0 0 15px black;
  transition-duration: .3s,
}

div.major{
  line-height: 240px;
  box-shadow: inset 0 0 5px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.major.pressed{
  background-color: #00FFCC;
  box-shadow: inset 0 0 15px black;
  margin-top: 2px;
  transition-duration: .3s,
}

.project-title {
  width: 250px;
  height: 220px;
  margin: auto;
  background-image: url("./mytuneslogo.png");
  background-position: center;
  background-size: cover;
}
